body
{
    /*background-color: #cccccc;*/
    /*background-image: url('https://images.pexels.com/photos/531880/pexels-photo-531880.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500');*/
    background-image: url('https://coolbackgrounds.io/images/backgrounds/index/sea-edge-79ab30e2.png');
    background-size: cover;
    background-position: center;
    font-family: "Lato";
}

#Header a 
{
    transition-duration: 0.2s;
}

#links i
{
    transition-duration: 0.2s;
}

#Header a:hover
{
      color:#FFF;
      
}

.title {
    font-family: 'Open Sans', sans-serif;
}

#bg-img
{
    /*background: url('../images/anshumssan.jpg');*/
    background-size: 100%;
    background-repeat: no-repeat;
    min-height: 350px;

}
#About
{
   margin-top: -200px;
}

#About .fa
{
    color: #FFF
}

#About .fa:hover
{
    color: #2d5986;
}

#links
{
    background-color: #19334d;
}

#About span
{
    padding: 10px 20px 10px 20px;
}

#About hr
{
    border-width:2px;
    margin-top:06px;
}

#Skills
{
    margin-top: 150px;
}

#skill
{
    padding: 5px;
}

#Skills span
{
    font-size: 24px;
    background-color: #333333;
    padding: 10px 20px 10px 20px;
}
#Skills hr
{
    background-color: #333333;
    border-width:2px;
    margin-top:06px;
}

.progress-bar
{
    background-color: #006666;
}

#Contact
{
    margin-top: 150px;
}


#Contact span
{
    font-size: 24px;
    background-color: #333333;
    padding: 10px 20px 10px 20px;
}
#Contact hr
{
    background-color: #333333;
    border-width:2px;
    margin-top:06px;
}

#Education
{
    margin-top: 150px;
}

#academic
{
    padding: 20px;
}

#Education span
{
    font-size: 24px;
    background-color: #333333;
    padding: 10px 20px 10px 20px;
}
#Education hr
{
    background-color: #333333;
    border-width:2px;
    margin-top:06px;
}
h3
{
    font-size: 1.25rem;
    font-family: "Roboto";
    text-transform: uppercase;
    word-spacing: 2px;
}
p{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

#developed
{
    padding-bottom: 5px;
}

#about_text
{
        font-family: 'Roboto Condensed', sans-serif;
        font-size: 1.25rem;
        font-weight: bold;
        letter-spacing: 1px;
        line-height: 1.5;
        color: #212529;
        text-align: left;
        margin-right: 60px;
}
h3
{
    font-family: 'Roboto Condensed', sans-serif;
}

.navbar-brand h3
{
    font-family: "Times New Roman", Times, serif;
}
#comment-container {
  border: 1px #ccc solid;
  border-radius: 5px;
  padding: 10px;
  margin-top: 70px;
  }
  
#comment-container h2 {
  text-align: center;
}

#comment-container li {
  padding-left: 5px;
  list-style: none;
  padding-bottom:  8px;
}